<!DOCTYPE html>
{% for lang in site['languages'] %}
{% if lang['active'] %}
<html lang="{{ lang['code'] }}">
{% endif %}
{% endfor %}
<head>
  <base href="{{ site['url'] }}">
  
  
  <title>{% if pagetitle %}  {{ pagetitle }}  {% else %} {{ title }} {% endif %} </title>
  <meta property="og:title" content="{% if pagetitle %}  {{ pagetitle }}  {% else %} {{ title }} {% endif %}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{% if pagekeywords %} {{ pagekeywords }} {% else %} {{ site["keywords"]}}  {% endif %}">
  <meta name="description" content="{% if pagedescription %} {{ pagedescription }} {% else %} {{ site['description'] }}  {% endif %}">
  <meta property="og:description" content="{% if pagedescription %} {{ pagedescription }} {% else %} {{ site['description'] }}  {% endif %}" />
  {% if site['favicon'] %}
    <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
  {% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="public/smmsun/css/panel/smmpanelbdlab.css">
      <link rel="stylesheet" type="text/css" href="public/smmsun/css/panel/smmpanelbdlab2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"
    />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<style>
.body .balance-dropdown__namee:before {content: '';display: block;background: #ffffff35;height: 205%;width: 35px;transform: rotate(35deg);position: absolute;left: 0;top: -24px;transition: all 0.3s ease-in-out;animation: 3.2s alu infinite;}
.body .table-wr {box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.25);border-top-left-radius: 14px;border-top-right-radius: 14px;border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;}
.badge {border-radius:8px;color:#fff;}
.body .table thead tr th:first-child {border-top-left-radius: 14px;}.body .table thead tr th:last-child {border-top-right-radius: 14px;}
.body .modal .modal-content {border: none;background: #ffffff;border-radius:20px;}
.swal-modal{border-radius: 20px;}


</style>

{{ headerCode }}
  </head>

  
  
<body class="body ">
<div class="wrapper  wrapper-sidebar-navbar ">
   <div id="block_59" class="component_private_navbar">
    <span class="component_private_navbar ">
      <div class="component-navbar-private__wrapper component_private_sidebar">
         <div class="sidebar-block__top component-navbar component-navbar__navbar-private editor__component-wrapper">
            <div>
               <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="navbar-private__header">
                    <div class="sidebar-block__top-brand">
                                                                  <div class="component-navbar-logo">
                              <a href="/">
                                <img src="{{ site['logo'] }}" class="sidebar-block__top-logo" alt="" title="">
                             </a>
                        </div>
                                        </div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-59" aria-controls="navbar-collapse-59" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-burger">
                        <span class="navbar-burger-line"></span>
                    </span>
                  </button>
                  </div>
                 <div class="collapse navbar-collapse" id="navbar-collapse-59">
                     <div class="component-navbar-collapse-divider"></div>
                     <div class="d-flex component-navbar-collapse">
                        <ul class="navbar-nav navbar-nav-sidebar-menu">
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="https://t.me/"  target="_blank" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="fab fa-telegram"></span>
                                           </span>
                                                                             Join Telegram
                                                                      </a>
                               </li>
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="/" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="fas fa-cart-arrow-down"></span>
                                           </span>
                                                                             New order
                                                                      </a>
                               </li>
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="/services" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="fas fa-server"></span>
                                           </span>
                                                                             Services
                                                                      </a>
                               </li>
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="/orders" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="fas fa-bags-shopping"></span>
                                           </span>
                                                                             Orders
                                                                      </a>
                               </li>
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="/addfunds" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="fas fa-comment-alt-dollar"></span>
                                           </span>
                                                                             Add funds
                                                                      </a>
                               </li>
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="/tickets" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="fas fa-user"></span>
                                           </span>
                                                                             Tickets
                                                                                                                                                </a>
                               </li>
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="/api" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="fab fa-amazon"></span>
                                           </span>
                                                                             API
                                                                      </a>
                               </li>
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="/child-panels" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="fas fa-child"></span>
                                           </span>
                                                                             Child panel
                                                                      </a>
                               </li>
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="/blog" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="far fa-image"></span>
                                           </span>
                                                                             Blogs
                                                                      </a>
                               </li>
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="/dripfeeds" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="fab fa-buysellads"></span>
                                           </span>
                                                                             Affiliates
                                                                      </a>
                               </li>
                                                          <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                  <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private " href="/massorder" >
                                                                                    <span class="component-navbar-nav-link-icon">
                                             <span class="fas fa-hot-tub"></span>
                                           </span>
                                                                             Mass order
                                                                      </a>
                               </li>
                                                    </ul>
                        <ul class="navbar-nav navbar-nav-currencies">
                                                      <div class="balance-dropdown-container component_balance_dropdown">
                              <div class="balance-dropdown ">
                                <div class="balance-dropdown__name balance-dropdown__toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">{{ user["balance"] }}</div>
                                <ul class="balance-dropdown__container dropdown-menu" id="currencies-list">
                                                                      <li class="balance-dropdown__item">
                                      {{ currencies_dropdown }}
                                    </li>
                                                                  </ul>
                              </div>
                            </div>
                                                  </ul>
                        <ul class="navbar-nav">
                                                                                                                                                    <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                        <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private" href="/account" >Account</a>
                                    </li>
                                                                                                                        <li class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                        <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private" href="/logout" >Logout</a>
                                    </li>
                                                                                  </ul>
                     </div>
                  </div>
               </nav>
            </div>
         </div>
      </div>
   </span>
    <span class="component_private_sidebar ">
      <div class="component-sidebar_wrapper">
         <div class="sidebar-block__left component-sidebar component-sidebar-with-navbar component_private_navbar editor__component-wrapper">
           <div class="component-sidebar__menu">
            <div class="component-sidebar__menu-logo">
                                  <a href="/" class="component-navbar-logo" style="background-image: url({{ site['logo'] }})"></a>
                                          </div>
            <ul class="sidebar-block__left-menu editor__component-wrapper">
                                  <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="https://t.me/smmpanelbdlab"  target="_blank" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="fab fa-telegram"></span>
                               </span>
                                                    Join Telegram
                                                </a>
                   </li>
                                    <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="/" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-cart-arrow-down"></span>
                               </span>
                                                    New order
                                                </a>
                   </li>
                                  <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="/services" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-server"></span>
                               </span>
                                                    Services
                                                </a>
                   </li>
                                  <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="/orders" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-bags-shopping"></span>
                               </span>
                                                    Orders
                                                </a>
                   </li>
                                  <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="/addfunds" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-comment-alt-dollar"></span>
                               </span>
                                                    Add funds
                                                </a>
                   </li>
                                  <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="/tickets" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-user"></span>
                               </span>
                                                    Tickets
                                                                                                    </a>
                   </li>
                                  <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="/api" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="fab fa-amazon"></span>
                               </span>
                                                    API
                                                </a>
                   </li>
                                  <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="/child-panels" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-child"></span>
                               </span>
                                                    Child panel
                                                </a>
                   </li>
                                  <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="/blog" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="far fa-image"></span>
                               </span>
                                                    Blogs
                                                </a>
                   </li>
                                  <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="/dripfeeds" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="fab fa-buysellads"></span>
                               </span>
                                                    Affiliates
                                                </a>
                   </li>
                                  <li class="component-sidebar__menu-item ">
                       <a class="component-sidebar__menu-item-link" href="/massorder" >
                                                        <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-hot-tub"></span>
                               </span>
                                                    Mass order
                                                </a>
                   </li>
                            </ul>
           </div>
         </div>
      </div>
   </span>
</div>

   <div class="wrapper-content">
    <div class="wrapper-content__header">
          </div>