{% include 'header.twig' %}


   <div class="wrapper-content">
    <div class="wrapper-content__header">
  </div>
    <div class="wrapper-content__body">

  <div id="block_180">
  <div class="totals ">
    <div class="bg"></div>
    <div class="divider-top"></div>
    <div class="divider-bottom"></div>
    <div class="container-fluid">
      <div class="row align-items-start justify-content-start">
                              <div class="col-lg-3 col-md-6 col-sm-12 mb-2 mt-2">
              <div class="card h-100" style="
                    background: rgba(5, 14, 51, 1);                                  border-color: rgba(80, 81, 142, 0.23);                                  padding-top: 11px;                                  padding-bottom: 11px;                                                                                                  border-top-left-radius: 34px;                                  border-bottom-left-radius: 34px;                                  border-top-right-radius: 34px;                                  border-bottom-right-radius: 34px;                                  border-left-width: 2px;                                  border-right-width: 2px;                                  border-bottom-width: 2px;                                  border-top-width: 2px;                                  box-shadow: 0px 8px 32px 0 #000000;                                  border-style: solid; ">
                <div class="totals-block__card">
                                      <div class="totals-block__card-left">
                      <div class="totals-block__icon-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary" style="
                           background: rgba(15, 15, 53, 1);                                                                                                                                                                                               ">
                        <span class="totals-block__icon style-text-primary fas fa-user-alt" style="
                            font-size: 38px;
                            transform: rotate(0deg);
                            color: ;
                            text-shadow: none;
                            border-radius: 0px;
                            "></span>
                      </div>
                    </div>
                                    <div class="totals-block__card-right">
                                          <style>
                        #block_180 .totals-block__count a {
                          color: #ffffff !important;
                        }
                      </style>
                                        <div class="totals-block__count">
                      <h2 class="totals-block__count-value style-text-primary" style=" color: #ffffff; ">
                                                                               {{ user["username"]  }}
                                                                                                </h2>
                    </div>
                    <div class="totals-block__card-name">
                                              <p>Welcome to panel!</p>
                                          </div>
                  </div>
                </div>
              </div>
            </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 mb-2 mt-2">
              <div class="card h-100" style="
                    background: rgba(5, 14, 51, 1);                                  border-color: rgba(80, 81, 142, 0.23);                                  padding-top: 11px;                                  padding-bottom: 11px;                                                                                                  border-top-left-radius: 34px;                                  border-bottom-left-radius: 34px;                                  border-top-right-radius: 34px;                                  border-bottom-right-radius: 34px;                                  border-left-width: 2px;                                  border-right-width: 2px;                                  border-bottom-width: 2px;                                  border-top-width: 2px;                                  box-shadow: 0px 8px 32px 0 #000000;                                  border-style: solid; ">
                <div class="totals-block__card">
                                      <div class="totals-block__card-left">
                      <div class="totals-block__icon-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary" style="
                           background: rgba(15, 15, 53, 1);                                                                                                                                                                                               ">
                        <span class="totals-block__icon style-text-primary far fa-clipboard-list-check" style="
                            font-size: 38px;
                            transform: rotate(0deg);
                            color: ;
                            text-shadow: none;
                            border-radius: 0px;
                            "></span>
                      </div>
                    </div>
                                    <div class="totals-block__card-right">
                                          <style>
                        #block_180 .totals-block__count a {
                          color: #ffffff !important;
                        }
                      </style>
                                        <div class="totals-block__count">
                      <h2 class="totals-block__count-value style-text-primary" style=" color: #ffffff; ">
                                                                              {{ user["balance"] }}
                                                                                                </h2>
                    </div>
                    <div class="totals-block__card-name">
                                              <p>Account balance</p>
                                          </div>
                  </div>
                </div>
              </div>
            </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 mb-2 mt-2">
              <div class="card h-100" style="
                    background: rgba(5, 14, 51, 1);                                  border-color: rgba(80, 81, 142, 0.23);                                  padding-top: 11px;                                  padding-bottom: 11px;                                                                                                  border-top-left-radius: 34px;                                  border-bottom-left-radius: 34px;                                  border-top-right-radius: 34px;                                  border-bottom-right-radius: 34px;                                  border-left-width: 2px;                                  border-right-width: 2px;                                  border-bottom-width: 2px;                                  border-top-width: 2px;                                  box-shadow: 0px 8px 32px 0 #000000;                                  border-style: solid; ">
                <div class="totals-block__card">
                                      <div class="totals-block__card-left">
                      <div class="totals-block__icon-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary" style="
                           background: rgba(15, 15, 53, 1);                                                                                                                                                                                               ">
                        <span class="totals-block__icon style-text-primary far fa-clipboard-list" style="
                            font-size: 38px;
                            transform: rotate(0deg);
                            color: ;
                            text-shadow: none;
                            border-radius: 0px;
                            "></span>
                      </div>
                    </div>
                                    <div class="totals-block__card-right">
                                          <style>
                        #block_180 .totals-block__count a {
                          color: #ffffff !important;
                        }
                      </style>
                                        <div class="totals-block__count">
                      <h2 class="totals-block__count-value style-text-primary" style=" color: #ffffff; ">
                                                                             {{ user["spent"] }}
                                                                                                </h2>
                    </div>
                    <div class="totals-block__card-name">
                                              <p>Spent balance</p>
                                          </div>
                  </div>
                </div>
              </div>
            </div>
                                                          <div class="col-lg-3 col-md-6 col-sm-12 mb-2 mt-2">
              <div class="card h-100" style="
                    background: rgba(5, 14, 51, 1);                                  border-color: rgba(80, 81, 142, 0.23);                                  padding-top: 11px;                                  padding-bottom: 11px;                                                                                                  border-top-left-radius: 34px;                                  border-bottom-left-radius: 34px;                                  border-top-right-radius: 34px;                                  border-bottom-right-radius: 34px;                                  border-left-width: 2px;                                  border-right-width: 2px;                                  border-bottom-width: 2px;                                  border-top-width: 2px;                                  box-shadow: 0px 8px 32px 0 #000000;                                  border-style: solid; ">
                <div class="totals-block__card">
                                      <div class="totals-block__card-left">
                      <div class="totals-block__icon-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary" style="
                           background: rgba(15, 15, 53, 1);                                                                                                                                                                                               ">
                        <span class="totals-block__icon style-text-primary fal fa-envelope" style="
                            font-size: 38px;
                            transform: rotate(0deg);
                            color: ;
                            text-shadow: none;
                            border-radius: 0px;
                            "></span>
                      </div>
                    </div>
                                    <div class="totals-block__card-right">
                                          <style>
                        #block_180 .totals-block__count a {
                          color: #ffffff !important;
                        }
                      </style>
                                        <div class="totals-block__count">
                      <h2 class="totals-block__count-value style-text-primary" style=" color: #ffffff; ">
                                                                          {{totalorders}} 
                                              </h2>
                    </div>
                    <div class="totals-block__card-name">
                                              <p>Total Orders</p>
                                          </div>
                  </div>
                </div>
              </div>
            </div>
                                          </div>
    </div>
  </div>
</div>
 
 
 
 
<div id="block_8">
  <div class="new_order-block ">
    <div class="bg"></div>
    <div class="divider-top"></div>
    <div class="divider-bottom"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mb-3 mb-lg-0">
          <div class="component_form_group component_card component_radio_button">
            <div class="card ">
                
<input placeholder="Search" class="select2-selection select2-selection--single form-control">
            
              
{% if error %}
      <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">тЬХ</button>
{{ errorText }}
      </div>
    {% endif %}

     {% if data["order"]["success"] == 1 %}
      <div class="alert alert-dismissible alert-success">
          <strong> {{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }} <br>
          <strong> {{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }} <br>
          <strong> {{ lang["neworder.success.link"] }}: </strong> {{ data['order']['link'] }} <br>
          <strong> {{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['quantity'] }} <br>
          <strong> {{ lang["neworder.success.charge"] }}: </strong> {{ data['order']['price'] }} <br>
          <strong> {{ lang["neworder.success.balance"] }}: </strong>{{ data['order']['balance'] }} <br>
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">тЬХ</span></button>

      </div>
    {% endif %}
    
    
    {% if data["order"]["success"] == 2 %}
      <div class="alert alert-dismissible alert-success">
 <strong> {{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }} <br>
 <strong> {{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }} <br>
 <strong> {{ lang["neworder.success.username"] }}: </strong> {{ data['order']['link'] }} <br>
 <strong> {{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['min'] }} - {{ data['order']['max'] }} <br>
 <strong> {{ lang["neworder.success.posts"] }}: </strong> {{ data['order']['posts'] }} <br>
 <strong> {{ lang["neworder.success.delay"] }}: </strong>{{ data['order']['delay'] }} <br>
       </div>
    {% endif %}
 

     <div class="well">

	
<form method="post" action="">
<div class="component_button_forms">
    <div class="form-group">
<label for="orderform-category" class="control-label">{{ lang["neworder.category"] }}</label>

<select class="form-control" id="neworder_category" name="categories" data-select="true" data-select-search="true" data-select-search-placeholder="Search" data-select-container="#select-category-container" tabindex="-1" aria-hidden="true">
{{ category_html_simplify }}

</select>
<div id="select-category-container" class="position-relative"></div>
</div>
</div>
    <div class="form-group">
<label for="orderform-service" class="control-label">{{ lang["neworder.service"] }}</label>
<select class="form-control" id="neworder_services" name="services" data-select="true" data-select-search="true" data-select-search-placeholder="Search" data-select-container="#select-service-container" tabindex="-1" aria-hidden="true">
<option value="1">No services found in this category</option>
</select>
<div id="select-service-container" class="position-relative"></div>
    </div>


  
  
  
  
  
  
  

    <div id="neworder_fields"></div>

  
  <div class="form-group" id="charge_div">
      <label for="charge" class="control-label">Charge</label>
      <input type="text" class="form-control" id="charge" readonly>
    </div>
  





  
  <button type="submit" class="btn btn-block btn-big-primary">Submit</button>
</form>
</div>
   </div>
</div>
    </div>

<div class="col-lg-5 mt-3">
  <div class="component_content_card component_content_button component_content_headers">
{% if news %}
    <div style="padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;" class="card mb-3">
      <div class="style-bg-primary headsir"><i class="fal fa-newspaper mr-2"></i>Latest News</div>
      <div class="ssw">
      {% for new in news %}
      <div class="news-item">
        <div class="news-details">
          <p class="style-bg-primary news-date"><i class="fad fa-calendar-alt mr-1" style="--fa-secondary-opacity: 0.65;"></i>{{ new['news_date'] }}</p>
          <h4 id="service_description" class=" news-title"style="border-bottom-left-radius:0px;border-bottom-right-radius:0px;">
            <span class="icon-container">
              <img width="30" class="news-icon-inline" src="/img/icons/{{ new['news_icon'] }}.png" alt="News Icon">
            </span>
            {{ new['news_title'] }}
          </h4>
          <p id="service_description" class= "news-content" style="border-top-left-radius:0px;border-top-right-radius:0px;">{{ new['news_content'] }}</p>
        </div>
      </div>
      {% endfor %}
      </div>
  </div>
  </div>
{% endif%}

<div class="container">
</div>	
{% if contentText2 %}
<div class="card mt-3 mb-4">
{{ contentText2 }}
</div>
{% endif %}
														
</div></div>
</div></div>
</div>
</div></div></div>
</div></div>
</div>
</div>

<div id="block_291">
    <div class="text-block-with-card ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="component_card_1">
                        <div class="card">
                            <div class="text-block__description">
                                                                    <h3 class="text-center"><span style="color: rgba(244, 0, 0, 1)"><strong style="font-weight: bold">Please Follow</strong></span></h3>
<p class="text-center"><span style="color: #ffffff"><span style="text-align: CENTER"><strong style="font-weight: bold">No Refill : </strong></span></span><span style="color: #ffffff"><span style="text-align: CENTER">There is no guarantee</span></span></p>
<p class="text-center"><span style="color: #ffffff"><span style="text-align: CENTER"><strong style="font-weight: bold">Refill : </strong></span></span><span style="color: #ffffff"><span style="text-align: CENTER">If drop you will get back</span></span></p>
<p class="text-center"><span style="color: #ffffff"><span style="text-align: CENTER"><strong style="font-weight: bold">Nondrop : </strong></span></span><span style="color: #ffffff"><span style="text-align: CENTER">Best quality service</span></span></p>
<p class="text-center"><span style="color: #ffffff"><span style="text-align: CENTER"><strong style="font-weight: bold">Lifetime  : </strong></span></span><span style="color: #ffffff"><span style="text-align: CENTER">Naver drop guarantee</span></span></p>
<p class="text-center"><span style="color: #ffffff"><span style="text-align: CENTER"><strong style="font-weight: bold">If you order wrong link you will not get refill/refund</strong></span></span></p>
<p class="text-center"><span style="color: #ffffff"><span style="text-align: CENTER"><strong style="font-weight: bold">Don't order the same link until the previous one is complete</strong></span></span></p>
<p><br></p>
<p class="text-center"><a target="_self" href="https://smmbiral.com/smmbiral-work-system"><span style="text-align: CENTER"><strong style="font-weight: bold">Watch Video For Help</strong></span></a></p>
<p class="text-center"><span style="text-align: CENTER">⚠️</span><a target="_self" href="https://smmbiral.com/terms"><span style="text-align: CENTER"><strong style="font-weight: bold">Please Read Carefully Our Terms and Conditions</strong></span></a><a target="_self" href="https://smmbiral.com/terms"><span style="text-align: CENTER"><strong style="font-weight: bold"> </strong></span></a><span style="text-align: CENTER">⚠️</span></p>
<p class="text-center"><span style="text-align: CENTER"><strong style="font-weight: bold">CUSTOM RATE AVAILABLE FOR </strong></span><span style="color: rgba(255, 23, 23, 1)"><span style="text-align: CENTER"><strong style="font-weight: bold">BIG RESELLER</strong></span></span></p>
<p class="text-center"><span style="text-align: CENTER"><strong style="font-weight: bold">CREATE TICKET FOR </strong></span><span style="color: rgba(0, 29, 255, 1)"><span style="text-align: CENTER"><strong style="font-weight: bold">CUSTOM RATE</strong></span></span></p>
<p><br></p>
<p class="text-center"><span style="color: rgba(0, 193, 37, 1)"><span style="text-align: CENTER"><strong style="font-weight: bold">✔</strong></span></span><span style="color: rgba(191, 21, 21, 1)"><span style="text-align: CENTER"><em style="font-style: italic"><strong style="font-weight: bold">SMM BIRAL</strong></em></span></span><span style="color: rgba(191, 21, 21, 1)"><span style="text-align: CENTER"><strong style="font-weight: bold"> </strong></span></span><span style="text-align: CENTER"><strong style="font-weight: bold">does not guarantee a delivery time for any services. We offer our best estimation for when the order will be delivered. This is only an estimation.</strong></span></p>
<p><br></p>

<div id="block_291">
    <div class="text-block-with-card ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="component_card_1">
                        <div class="card">
                          <div class="text-block-with-button__description">
    
<p class="text-center"><span style="color: #ffffff"><span style="text-align: CENTER"><strong style="font-weight: bold">⛔If someone wants to withdraw the balance then 15% will be charged from your account</strong></span></span></p>
                                                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="block_328">
    <div class="text-block-with-button ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                     
<div class="text-block-with-button__description">
                                                    <h3 class="text-center"><span style="color: #ffffff"><span style="text-align: CENTER">Download Our Android Application</span></span></h3>
                                            </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-block-with-button__button component_button_link">
                       <div class="">
                           <a class="btn btn-big-primary" target="_self" href="https://mega.nz/file/">
                                                                  <p>Android APK</p>
                                                          </a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'footer.twig' %}